#leader_board{
    display: none !important;
    visibility: hidden !important;
}
#ending_screen{
    display: none !important;
    visibility: hidden !important;
}
#questions{
    display: none !important;
    visibility: hidden !important;
}
#timer{
    transform: translateX(250%);
}
/* .classname<-class #classname<-id*/